.dashboard {
    margin-top: 50px;
    display: block;
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
  }
  
  .card img {
    height: auto;
    width: 100%;
    display: block;
  }
  .imageBox{
    border: 1px solid red;
    flex: 1 1 auto;
  }
  .desciprionBox {
    border: 1px solid red;
    flex: 1 1 auto;
    width: 100%;
  }
  
  .cardWrapper {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid rgb(110, 110, 117);
    margin: 0.5em;
    border-radius: 0.4em;
  }
  
  .cardWrapper h2 {
    margin: auto;
  }
  
  .title,
  .salary {
    font-size: 21px;
  }
  
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 23%;
    height: auto;
    margin: 25px auto;
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
    border: 2px ridge rgb(210, 208, 208);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
  }
  
  .detailsBtn {
    text-decoration: none;
    margin: auto 50px;
    font-size: 21px;
    width: 130px;
    padding: 10px;
    text-align: center;
    color: white;
    background: #7c7e7e;
  }
  
  .card p {
    min-width: 90% !important;
    margin: auto;
    font-size: 21px;
    max-height: 50px;
    max-width: 30%;
    text-align: center;
  }
  
  .card span {
    padding: 10px;
    margin: auto;
  }
  
.from {
  border: 1px solid rgb(192, 191, 191);
  border-radius: 0.4em;
  text-align: center;
  background-color: #eef5f5;
  padding: 0.4em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
  margin: 0;
  /* padding: 0; */
}
.anchor {
 text-decoration: none;
 padding: 0.3em;
 color:rgb(132, 150, 230)
}
.spinner :nth-child(1) {
  margin-left: 40%;
}
